.section-about
    padding-top: 8rem
    margin-bottom: 20rem
    @include respond(tab-land)
    margin-bottom: 13rem
    @include respond(tab-port)


.section-adventure
    padding: 21rem 0
    background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-brown-dark, 0.7) 99.94%), url(../img/section-adventure.jpg) no-repeat center center / cover 
    clip-path: polygon(0 0, 100% 21%, 100% 100%, 0 79%)


.section-tour 
    padding: 21rem 0



.section-votes
    padding: 21rem 0
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.6) 35.94%, rgba(0, 0, 0, 0.6) 100%), url('../img/photo-ballons-3.png') no-repeat center center / cover
    



    // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);