.row {
    max-width: $grid-width;
    display: flex;
    &:not(:last-child) {
        margin-bottom: $margin-variable-big;
    }    
}

.col-1-of-2 {
    max-width: $section2-max-width;
    width: $max-percent;
    &:not(:last-child) {
        width: calc(100% - #{$gutter-horizontal} / 2);
    }
    text-align: $start;
}