.header {
    height: 95vh;
    background: linear-gradient(90.05deg, $color-brown-gradient 0.03%, rgba($color-black-gradient, 0.7) 99.94%), url('../img/ballons.jpg') no-repeat center center / cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    position: relative;

    &__logo {
        width: 56px;
        height: 70px;
        position: absolute;
        left: multiply(25, 2) * 1px;
        top: 50px;
    }

    &__box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
}