@import '../abstracts/mixins.scss';
@import '../base/utilities.scss';

.title {

    &-first {

        color: $color-light;

        &__main {
            display: block;
            font-style: normal;
            font-weight: 800;
            font-size: 50px;
            line-height: 60px;
            color: $color-light;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 10px;
            animation: leftToRight 1.7s ease;
            animation-delay: 1s;
            backface-visibility: hidden;
        }

        &__secondary {
            display: block;
            font-weight: 100;
            font-size: 40px;
            line-height: 48px;
            animation: rightToLeft 1.7s ease;
            animation-delay: 1s;
            backface-visibility: hidden;
        }
    }

    &-secondary {
        display: inline-block;
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 10px;
        text-transform: uppercase;
        background: linear-gradient(90.05deg, $color-brown-gradient 0.03%, rgba($color-brown-gradient, 0.7) 99.94%);
        -webkit-background-clip: text;
        color: transparent;
        transition: all .4s;
        margin-bottom: $mb8;


        &:hover {
            transform: skewY(2deg) skewX(15deg);
            text-shadow: $shadow-h2;

        }
    }
}

.row {
    &__about {
        &-title {
            @include about__title;
        }
        &-txt {
            @include about__text;
        }

        
    }
}