@mixin btn_repeat($color) {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: $color;
    border-radius: 50px;
    transition: all .3s;
}

@mixin about__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
}

@mixin about__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
}