// Combination of regular colors
$color-gray: #777777; // _Gray_
$color-brown-light: #BA8554; // _Light_brown_
$color-brown-dark: #A14F03; // _Dark_brown_
$color-light: #FAFAFA; // White
$color-white: $color-light; // Experiment on variabling the style - White ($color-white)
$color-black: #000000; // Black || Dark 
$color-brown-gradient: rgba(186, 133, 84, 0.7); // Regular gradient colors -- buttons, hovers, background-clip*
$color-black-gradient: rgb(0, 0, 0); // Regular gradient colors -- buttons, hovers, background-clip*


// Shadows - elements, cards
$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
$shadow-h2: 10px 15px 15px rgba($color-black, .25);

$margin-variable-big: 8rem;
$gutter-horizontal: 6rem;


// Sizes
$section2-max-width: 480px;
$max-percent: 100%;
$grid-width: 114rem;


// Text position
$center: center;
$start: start;
$end: end;


// Flex-Box
$flex-center: center;
$flex-start: flex-start;
$flex-end: flex-end;


// Space - AIR between elements FLEXBOX
$between: space-between;
$evenly: space-evenly;
$around: space-around;

// Flex-direction
$dir-column: column;
$dir-row: row;
$dir-col-reverse: column-reverse;
$dir-row-reverse: row-reverse;
